<div class="container">
  <div class="card">
    <h2>Bonjour ! Merci de compléter les informations suivantes :</h2>
    <form [formGroup]="userForm" class="form">

      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput id="firstName" type="text" formControlName="firstName">
        <mat-error *ngIf="userForm.get('firstName')?.hasError('pattern')">Le nom de doit pas contenir de
          chiffre, d'espace ni de caractère spécial</mat-error>
        <mat-error *ngIf="userForm.get('firstName')!.hasError('required')">Obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput type="text" formControlName="lastName">
        <mat-error *ngIf="userForm.get('lastName')?.hasError('pattern')">Le prénom de doit pas contenir de
          chiffre, d'espace ni de caractère spécial</mat-error>
        <mat-error *ngIf="userForm.get('lastName')!.hasError('required')">Obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [max]="today">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-error *ngIf="userForm.get('dateOfBirth')?.hasError('matDatepickerMax')">La date doit être
          inférieure à aujourd'hui</mat-error>
        <mat-error *ngIf="userForm.get('dateOfBirth')!.hasError('required')
                   && !userForm.get('dateOfBirth')!.hasError('matDatepickerParse')">
          Obligatoire</mat-error>
        <mat-error *ngIf="userForm.get('dateOfBirth')!.hasError('matDatepickerParse')">La date doit être valide et au
          format JJ/MM/AAAA</mat-error>
      </mat-form-field>

      <div>
        <button type="button" (click)="onSubmitForm()" [disabled]="userForm.invalid">Valider</button>
      </div>
    </form>
  </div>
</div>
